<% provide(:title, "#{@player.first_name} #{@player.last_name} Player Stats") %>
<div class="profile show">
	
	<div class="top_half">
		<%=image_tag(@player.picture_url.nil? ? 'empty_avatar.png' : @player.picture_url, :class => 'profile_picture', :size => '100x100')%>

		<p><%= @player.first_name%></p>
		<p><%= @player.last_name%></p>
	</div>
	
	<div class="label center" id="handicap">
		<h2>Handicap</h2>
		<p><%= @player.handicap %></p>
	</div>
	
	<% if !current_player?(@player) %>
	<a href="#myModal" role="button" data-toggle="modal">
		<div class="label center" id="handicap" style="background: green">
			<h2>Arrange<br/> A Round</h2>
		</div>
	</a>

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Let's Play Golf!</h3>
	  </div>
	  <div class="modal-body">
	    <p>Hey! I'll be in San Francisco next week. Noticed we're in the same industry. Would be great to play a round of golf and connect professionally. Let's play next Friday!</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	    <button class="btn btn-primary">Send</button>
	  </div>
	</div>
	
	<% end %>
	
	<br/ style="clear:both;">
	
	<div class="company_info">
		<div class="label"><h2>Professional<br/>Info</h2></div>
		<p><small>Company:</small><br/><strong><%= @player.company %></strong></p>
		<p><small>Industry:</small><br/><strong><%= @player.industry %> </strong></p>
		<p><small>Location:</small><br/><strong><%= @player.location %> </strong></p>
	</div>
	
	<div class="player_notes">
		<div class="label"><h2>Player<br/>Notes</h2></div>
		<p><small>Home Course:</small><strong><br/> <%= Course.find_by_id(@player.home_course).name %> </strong></p>
		<p><small>Preferred Tee-Time:</small><br/><strong><%= @player.schedule %> </strong></p>
	</div>
	<br/><br/>
	
	<div class="hero-unit center" style="clear:both;">
		<h2>Recent Games</h2>
	</div>
	
</div>